<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hanery Website</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
      #banner{
        width:100%;
        height:320px;
        object-fit:cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <h1 class="text-center mt-2 mb-4">Hanery Website</h1>
    <img class="img-fluid" id="banner" src="https://f9456bcc-30d0-4e82-be84-b8377913a9c0-00-1wyf36j7f9cbk.sisko.replit.dev/static/banner.jpg">
    <h2 class="text-center mt-2 mb-4">About Hanery</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2 class="text-center mt-2 mb-4">Job Openings</h2>
   <div>
     {% for job in jobs %}
      {% include 'jobitem.html' %}
     {% endfor %}
        
    
   
      <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
        <p class="mt-4">Copyright 2025,Hanery</p>
      </div>
    </div>
  </body>
</html>
